<header>
  <h1><a href="//seesparkbox.com" class="sparkboxLogo">Sparkbox</a>Stuntman</h1>
  <div class="controlPanel">
    <form class="languageControls">
      <label class="languageControls-label">Language:
        {{view "Ember.Select"
          content=languageOptions
          value=selectedLanguage
        }}
      </label>
    </form>
    <button {{action 'login' 'github'}}>Log in with GitHub</button>
    <div class="githubControls">
      {{#if session.isAuthenticated}}
        <a {{ action 'invalidateSession' }}>Logout</a>
      {{else}}
        <a {{ action 'authenticateSession' }}>Login</a>
      {{/if}}
    </div>
  </div>
</header>

<button {{action 'test'}}>Jump</button>
<div id="results" class="results">
  {{#each displayList}}
    {{status this}}
  {{else}}
    No results yet
  {{/each}}
  <br>
  Passing: {{totalPassing}}<br>
  Failing: {{totalFailing}}
</div>
<iframe id="specRunner" {{bind-attr src=iFrameSrc}}></iframe>
<div class="tests">
  <h2>Tests</h2>
  {{code-editor editorID="tests" code='tests' model=model}}
</div>
<div class="source">
  <h2>Source</h2>
  {{code-editor editorID="source" code='source' model=model}}
</div>
<iframe id="testRunner" class="hidden"></iframe>